.main-container {
    display: flex;
    height: 100vh;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar {
    width: 360px;
    background: #dadada;
    color: #fff;
    padding: 10px;
  }
  