mat-expansion-panel {
  background: #444; /* Adjust the color as needed */
  color: #fff;
}

mat-expansion-panel-header {
  color: #fff;
}

button {
  display: block;
  margin: 5px 0;
  width: 100%;
  color: #fff;
  background-color: #555; /* Adjust the color as needed */
}

button:hover {
  background-color: #777; /* Adjust the color as needed */
}
