.preset-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #d3d3d3;
}

button:hover {
  background-color: #777;
}

mat-slide-toggle {
  display: block;
  margin: 10px 0;
}

mat-slider {
  width: 100%;
  margin-top: 10px;
}

.icon {
  margin-right: 5px;
}
