#preset-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  
  #preset-menu button {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #preset-menu button:hover {
    background-color: #555;
  }
  